@import "tailwindcss";

body.dark {
  --color-page-bg: #0F0F0F;
  --color-section-bg: #242424;
  --color-search : #111;

  --color-primary-text: #FFFFFF;
  --color-secondary-text: #777;
  --color-third-text : #d1d5dc;

  --color-secondary-btn: #1E2939;
  --color-login-btn: #BC4C23;
  --color-logout-btn: #E7000B;

  --color-border: #555;
  --color-hover-bg: #2a2a2a;

  --color-card-bg: rgba(30, 41, 59, 0.5);
  --color-card-border: rgba(51, 65, 85, 0.4);
  --color-primary-btn: #FFFFFF;

  --color-submit-bg: #FFFFFF;
  --color-submit-text: #111;

  --color-accent: #8b5cf6;

  --color-btn-text: #000000;

  --color-dark-bg: #1c1c1c;
  --color-dark-btn: #000000;
}

body.light {
  --color-page-bg: #edf2f6;
  --color-section-bg: #FFFFFF;

  --color-primary-text: #111111;
  --color-secondary-text: #666666;

  --color-secondary-btn: #E2E8F0;

  --color-border: #acacac;
  --color-hover-bg: #cdcdcd;

  --color-card-bg: rgba(226, 232, 240, 0.5);
  --color-card-border: rgba(203, 213, 225, 0.4);
  --color-primary-btn: #111111;

  --color-submit-bg: #000000;
  --color-submit-text: #FFFFFF;

  --color-accent: #7c3aed;

  --color-btn-text: #FFFFFF;

  --color-dark-bg: #f5f5f5;
  --color-dark-btn: #ffffff;

  /* DO NOT CHANGE (as per your requirement) */
  --color-login-btn: #BC4C23;
  --color-logout-btn: #E7000B;
}

#loginForm{
    border-radius: 0 50px 0 50px;
    border-top: 1px solid whitesmoke;
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke transparent;
    border-bottom: 1px solid whitesmoke transparent;
}
#taskCardContainer::-webkit-scrollbar{
    overflow-y:  hidden;
}
#taskCardContainer::-webkit-scrollbar{
    overflow-y:  hidden;
}
